:root{
    --primary-color: #104d70;
    --secondary-color: #003d4d;
    --accent1-color: #1B4965;
    --accent2-color: #62c6df;
    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Jost", sans-serif;   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img{
    width: 100px;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
/*header*/
header{
    display: grid;
    grid-template-columns: 1fr 100%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
article{
    position: absolute;
    top: 200px;
    background-color: var(--accent2-color);
    opacity: 0.9;
    color: #002e48;
}
.hero article img{
    float: right;
    width: 125px;
}
.menu a{
    width: 10%;
    padding-top: 2%;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid var(--accent2-color);
}
/*history section*/
section h2{
    text-align: center;
    margin-bottom: 20px;
}
.container{
    display: flex;
    align-items: center;
}
.container p{
    text-align: justify;
}
.container img{
    width: 300px;
    height: 300px;
}
/*adventure section*/
.adventure{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100%;
    column-gap: 20px;
    place-items: center;
}
.adventure img{
    width: 100%;
    height: auto;
}
.adventure figcaption{
    text-align: center;
}
/*footer*/
footer{
    display: flex;
    justify-content: space-around;
}
footer nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10%;
}
footer img{
    width: 35px;
}
.socialmedia a {
    text-decoration: none;
}


/*CONTAC PAGE*/
/*title*/
.page-title {
    position: relative;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
}
/*company information*/
iframe {
    width: 30rem;
    height: 20rem;
    border: 0;
}
.information-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(20, 1rem);
}
.information-container iframe {
    grid-column: 2;
    grid-row: 1;
}
.information-container h2{
    grid-row: 7;
    text-align: center;
}
.information-container p{
    grid-row: 8;
    text-align: center;
}
/*employees section*/
.employees img {
    width:10rem;
}
.employees-container {
    display: flex;
    justify-content: space-around;
}
.employees-container figcaption {
    text-align: center;
}
/*form section*/
.form-section {
    padding-left: 25%;
}
form{
    width:30rem;
}
fieldset{
    padding: 1rem;
}
.info-fieldset input {
    width: 88%;
}
.info-fieldset input:nth-child(8){
    width: 84.7%;
}
.contact-fieldset label:nth-child(2) {
    margin-left: 33%;
}
.contact-fieldset input[type="radio"] {
    margin-left: 34%;
}
.contact-fieldset textarea {
    resize: none;
    width: 100%;
    height: 5rem;
}
.contact-fieldset label:nth-child(15) {
    margin-left: 16%;
}
.contact-fieldset input[type="checkbox"] {
    margin-left: 38%;
}
.talk-button {
    margin: 1rem 34%;
    color: white;
    font-family: var(--body-font);
    width: 10rem;
    border-radius: 5%;
    border: 1px solid rgba(202, 233, 255, 0.7);
    background-color: var(--primary-color);
}
.wireframe{
    margin-top: 1.4rem;
}

/*TRIPS*/
.contact-container {
    padding: 4rem;
    text-align: center;
}
.contact-container a {
    text-decoration: none;
    margin: 1rem 34%;
    color: white;
    font-family: var(--body-font);
    font-size: 14px;
    padding: 0.01rem 3.5rem;
    border-radius: 5%;
    border: 1px solid rgba(202, 233, 255, 0.7);
    background-color: var(--primary-color);
}
.contact-container a:hover {
    cursor: pointer;
}
/*descriptions*/
.descriptions-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    margin-top: 4rem;
}
.descriptions-container img{
    width: 20rem;
}
.descriptions-container div{
    width: 100%;
    text-align: justify;
}
.descriptions-container div:nth-child(2), .descriptions-container div:nth-child(3), .descriptions-container div:nth-child(6){
    grid-column: span 3;
}
/*table*/
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
th, td{
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/*HOME PAGE*/
/*flex display*/
.flex-container {
    display: flex;
    justify-content: flex-start;
}
.vertical-border {
    border: 1px solid var(--accent1-color);
    margin: 0 8rem;
}
.container-one, .container-two {
    width: 40%;
    height: auto;
    text-align: center;
}
.container-two {
    padding: 3rem 0;
}
.container-one form {
    border: 1px solid var(--accent1-color);
    width: 18rem;
    padding: 1rem 0;
}
.container-two a {
    text-decoration: none;
    color: white;
    font-family: var(--body-font);
    font-size: 14px;
    padding: 0.01rem 3.5rem;
    border-radius: 5%;
    border: 1px solid rgba(202, 233, 255, 0.7);
    background-color: var(--primary-color);
}
.container-one form .newsletter-button {
    margin-top: 1rem;
    color: white;
    font-family: var(--body-font);
    width: 10rem;
    border-radius: 5%;
    border: 1px solid rgba(202, 233, 255, 0.7);
    background-color: var(--primary-color);
}
.grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10rem;
      padding-top: 5rem;
}
.grid-container p {
    text-align: center;
}
.grid-container img{
    width: 100%;
}